* {
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    position: relative;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.top-bar div {
    padding: 6px 12px;
    font-size: 24px;
    line-height: 100%;
}

.stop {
    float: left;
}

.board {
    float: right;
}

.reverse {
    float: right;
}

.left {
    width: 50%;
    height: 100%;
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    transition: all .5s linear;
    cursor: pointer;
}

.right {
    width: 50%;
    height: 100%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    transition: all .5s linear;
    cursor: pointer;
}

#playerA-match {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 64px;
    padding: 0 24px;
}

#playerB-match {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 64px;
    padding: 0 24px;
}

.scroe {
    position: relative;
}

h1 {
    font-size: 240px;
    line-height: 90%;
}

.balls {
    position: absolute;
    bottom: -32px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
    overflow: auto;
}

.ball {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: yellowgreen;
}

.pull-left {
    right: auto !important;
    left: 0 !important;
}

.pull-right {
    left: auto !important;
    right: 0 !important;
}

.left-to-right {
    left: 50vw;
}

.right-to-left {
    right: 50vw;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.game-record-mask {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    transition: transform .5s linear;
    background-color: black;
    cursor: pointer;
}

#game-status {
    color: green;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

.game-board-slide-in {
    transform: translateY(-100vh);
}
